.div1 {
  display: flex;
}

.div2 {
  /* se inserisco .div1 .div2 l'ultumo div che ho inserito con className="div2" non prende le caratteristiche della classe .div2 perchè andrei a dire prendimi i div2 contenuti in div1, ovvero i precedenti*/
  margin: 30px;
  font-size: 1rem;
}

@media (orientation: portrait) {
  .div1 {
    display: flex;
    flex-direction: column; /*nel caso non sia presente niente l'impostazione predefinita è row */
  }
}
